  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "@id": "https://martijnvanvreeden.nl/",
        "name": "Martijn van Vreeden",
        "url": "https://martijnvanvreeden.nl/"
      }
  </script>
  
  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Martijn van Vreeden",
  "url": "{{ .Site.BaseURL }}",
  "logo": "https:\/\/www.martijnvanvreeden.nl\/img\/logo.jpg"
}
</script>